*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-image: url(../src/fondo-futurista2.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#product-list{
    color: white;
}

#logout{
    display: flex;
    padding: 5px;
    margin-top: 30rem;
}

nav{
    color: white;
    background-color: aqua;
}
h1{
    color: white;
}